//
// Variables
// --------------------------------------------------
@import "../../../gulp/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

// Colors

$green: #6CB35D !default;
$light-green: #BAE1B2 !default;
$blue: #A5E0EE !default;
$white: #fff !default;
$black: #000 !default;
$grey: #808080 !default;
$hover-link-footer: #01b4c0 !default;
